/* resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
}

a {
  text-decoration: none;
}

select {
  border: none;
  background-color: transparent;
}

/* utils */
:root {
  --general-padding: 70px;
  --footer-padding: 15px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
}

li {
  list-style-type: none;
}

/* header */

.header {
  background-color: #255ee9;
  padding-top: 15px;
  /* padding-bottom: 3px; */
}

.login-button {
  padding: 10px 12px;
  background-color: white;
  border-radius: 20px;
}

.nav-items-container {
  height: 50px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #d7a522; */
}

.logo-container,
.login-container {
  min-width: 20%;
  display: flex;
  padding: 5px;
  /* border: 1px dashed black; */
}

.logo-container {
  justify-content: flex-start;
}

.login-container {
  justify-content: flex-end;
}

.links-container {
  min-width: 60%;
  padding: 5px;
  /* border: 1px dashed black; */
}

.nav-links-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

header > .header-section {
  background-image: url("../img/jumbo.png");
  background-size: contain;
  background-attachment: fixed;
  /* height: 660px; */
}

header > .header-section > .header-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  padding-bottom: 70px;
}

.header-section-content {
  height: 300px;
  width: 70%;
  /* background-color: #ec81eb;
  border: 1px dashed black; */
}

.header-title {
  color: white;
  font-size: 3.1em;
  text-align: center;
  padding-bottom: 30px;
}

.header-section-content > p {
  color: white;
  text-align: center;
  font-size: 1.3em;
  line-height: 30px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

.button-container > button {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
}

.button-downloadmac {
  background-color: white;
}

.button-opendiscord {
  background-color: #23272a;
  color: white;
}

li > a {
  color: white;
}

/* main */

.card-container {
  display: flex;
  align-items: center;
  padding-top: var(--general-padding);
  padding-bottom: 100px;
}

.card-container > .big-card-item {
  min-width: 60%;
  /* background-color: #1e8ff7;
  border: 1px dashed black; */
}

.card-container > .small-card-item {
  min-width: 40%;
  /* background-color: #f9bfcb;
  border: 1px dashed black; */
}

main > :nth-child(even) {
  background-color: #d2d2d2;
}

.second-section > .card-container {
  flex-direction: row-reverse;
}

.huge-card-item {
  min-width: 100%;
  /* background-color: #228822;
  border: 1px dashed black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.huge-card-item > p {
  padding-top: 25px;
  text-align: center;
}

.section-title {
  font-size: 2.5em;
  line-height: 50px;
}

.small-card-item > p {
  padding-top: 25px;
}

.areyouready {
  background-image: url(../img/stars.svg);
  background-repeat: no-repeat;
  height: 100px;
  min-width: 700px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5em;
  background-position: center;
  padding-bottom: 10px;
  margin-bottom: 35px;
}

.lower-button-downloadmac {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
  background-color: #7289da;
  color: white;
}

/* footer */

.footer {
  background-color: #222629;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.footer-links-section {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}

.footer-signin-section {
  border-top: 1px solid rgb(38, 38, 38);
}

.footer-large-section,
.footer-small-section {
  height: 390px;
}

.footer-large-section {
  width: 35%;
  background-color: #ee8081;
  border: 1px dashed black;
}

.footer-small-section {
  width: 16.25%;
  background-color: #1fafa6;
  border: 1px dashed white;
}

.footer-signin-section {
  padding-top: 20px;
}

.footer-logo-signin-container {
  display: flex;
  justify-content: space-between;
  background-color: #7efdd2;
  padding-top: var(--footer-padding);
  padding-bottom: var(--footer-padding);
}

.footer-logo,
.signin-button {
  padding: 2px 5px;
  background-color: #f7b6c0;
  border: 1px dashed black;
}

.footer-social-img {
  width: 25px;
}

.language-img {
  width: 25px;
}

.social-img {
  display: flex;
  gap: 10px;
}

.footer-large-section > h4 {
  font-size: 1.7em;
  color: #7289da;
}
